.contact-me {
  margin: 20px;
  margin-right: 20px;
}
.contact-container {
  display: flex;
  flex-direction: column;
}

.centered-text {
  text-align: center;
}

.full-width-divider {
  width: 100%;
}
